body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.passcode-popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High enough to be on top of other content */
}

.passcode-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#passcodeInput {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.passcode-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.emoji-bear {
    font-size: 50px;
    margin: 20px;
}
.center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
}
.options button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gift-image {
    max-width: 100%;
    height: auto;
}
